.Challenge--container {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.Challenge--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Challenge--category {
  font-weight: bold;
}

.Challenge--difficulty {
  font-weight: 100;
}
.Challenge--challenges {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 18px;
}
.Challenge--name {
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: -25px;
}

.Challenge--description {
  margin-top: 50px;
}

.Challenge--description h1,
.Challenge--description h2,
.Challenge--description h3,
.Challenge--description h4,
.Challenge--description h5,
.Challenge--description h6 {
  font-size: 18px;
  font-weight: bold;
}

.Challenge--submit {
  display: flex;
  flex-direction: row;
}

.Challenge--submit-answer {
  flex: 1;
  height: 40px;
  padding: 0 1rem;
}
.Challenge--submitted {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.Challenge--submit-button {
  width: 150px;
  height: 40px;
  background: black;
  color: white;
  margin-left: 1rem;
}
.loader {
  text-align: center;
  font-size: 35px;
  padding: 30px;
}

.error {
  text-align: center;
  padding: 30px;
}
.errorLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 9px;
  border: 0px;
}
