.EventsList--loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.EventsList--options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.EventsList--options-button {
    margin-right: 15px;
}

.EventsList--delete-wrapper {
    background: white;
    padding: 20px;
}

.EventsList--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.EventsList--header .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.EventsList--title {
    margin: 0;
    margin-right: 20px;
}
