%hide-if-only-child,
.hide-if-only-child {
    &:only-child {
        display: none;
    }
}

%hide-if-last-child,
.hide-if-last-child {
    &:last-child {
        display: none;
    }
}

%no-margin-if-last,
.no-margin-if-last {
    &:last-child {
        margin-bottom: 0;
    }
}

%with-shadow,
.with-shadow {
    box-shadow: 2px 7px 30px rgba(0, 0, 0, 0.04);
}

%with-shadow-large {
    box-shadow: 2px 7px 30px rgba(0, 0, 0, 0.12);
}

%with-shadow-hover,
.with-shadow-hover {
    box-shadow: 2px 7px 30px rgba(0, 0, 0, 0.04);
    position: relative;
    top: 0;
    transition: all 0.2s ease;

    &:hover {
        top: -3px;
        box-shadow: 2px 7px 30px rgba(0, 0, 0, 0.12);
    }
}
