.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: white;
    text-align: center;
  }
}
